<!DOCTYPE html>
<html>
  <head>
    <title>LoL Scaling</title>
    <meta name="description" content="A React example made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperweb.space/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet/less" type="text/css" href="styles.less" />
  </head>
  <body id="page-top" class="index">

    <header id="head" class="col-md-12 material-shadow">
        <div id="logo" class="col-md-5 col-md-offset-5">
            <h1 class="">Scaling.gg</h1>
            <button id="back-to-champ-list" class="material-shadow">Champion List</button>
        </div>
    </header>

    <div id="content"></div>

    <footer id="footer"></footer>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <script src="https://fb.me/react-0.14.7.js"></script>
    <script src="https://fb.me/react-dom-0.14.7.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.6.1/less.min.js"></script>
    <script src="app.jsx"></script>
  </body>
</html>
